/* Roboto Typography Styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

/* Display */
.display {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 120px;
  font-weight: 700;
  line-height: 120px;
}

/* Headings */
.heading-01 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 80px;
  font-weight: 900;
  line-height: 80px;
}

.heading-02 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 52px;
  font-weight: 600;
  line-height: 56px;
}

.heading-03 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}

.heading-04 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.heading-05 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

/* Subtitle */
.subtitle {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

/* Lead Text */
.lead-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
}

/* Body Text */
.body-01 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
}

.body-01-bold {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.body-02 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}

.body-02-bold {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.body-03 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}